@import './utils';

$custom-grey: rgb(82, 79, 79);

div.fixation-clearer {
  padding-right: 0;
  background-color: $custgreen-bg-color !important;
  position: relative;
}

main.product-bg {
  position: relative !important;
  background-color: $custgreen-bg-color;
  min-height: 60px;
  width: 100%;
  padding-top: 1em;
}

.prduct-canvass {
  background-color: #fff;
  width: 80%;
  min-height: 500px;
  margin: 0 auto;
  border-radius: 6px;
}

.main-product-section {
  min-width: 90%;
  min-height: 400px;
  margin: 0 auto;
  display: grid;
  grid-auto-flow: row;
  grid-auto-rows: 1fr 1fr;
  border-radius: 6px;
}

.product-img-div {
  background: url('../images/watch.jpg');
  min-width: 60px;
  min-height: 60px;
  background-repeat: no-repeat;
  position: relative;
  background-size: cover;
  background-position: 0, -400px;

  .pic-selector {
    position: absolute;
    left: 15px;
    bottom: 15px;
    color: grey;
  }

  .product-id {
    color: $custom-grey;
    position: absolute;
    bottom: 15px;
    right: 15px;
  }

  .vert-info-1, .vert-info-2,
  .vert-info-3 {
    height: 9px;
    width: 9px;
  }

  .vert-info-1 {
    background-color: rgb(52, 105, 8);
  }

  .vert-info-2 {
    background-color: #62C312;
  }

  .vert-info-3 {
    background-color: rgb(114, 236, 14);
  }

  .img-offer {
    height: 50px;
    width: 50px;
    background-color: $custgreen-bg-color;
  }

}

.product-color-1, .product-color-2,
.product-color-3, .product-color-4,
.product-color-5 {
  height: 20px;
  width: 20px;
}

.product-color-1 {
  background-color: tomato;
}

.product-color-2 {
  background-color: rgb(228, 120, 101);
}

.product-color-3 {
  background-color: #c0c0c0;
}

.product-color-4 {
  background-color: rgb(104, 22, 7);
}

.heart-icon-2 {
  color: $cust-wine;
}

.product-pcs-btn-div {

  button {
    width: 55px;
    border-radius: 12px;

    &:first-child {
      border: 1px solid $custgreen-bg-color;
    }
  }

}

.old-price {
  color: grey;
  text-decoration: line-through;
}

.btn-add-cart {
  width: 200px;
  height: 35px;
  color: #fff;
  background-color: $cust-wine;
  border: 2px solid rgba(204, 12, 89, 0.863);
  border-radius: 20px;
  font-size: 17px;
  margin-bottom: 100px;

  &:hover {
    background-color: rgba(204, 12, 89, 0.863);
    transition: background-color 0.4s;
  }
}

.custom-directions-pd {
  font-size: 22px;
}

.related-deals {
  width: 80%;
  margin: 0 auto;
}

// <<< MEDIA QUERIES >>>>
@media screen and (min-width: 1024px) {
  .main-product-section {
    width: 80%;
    height: 400px;
    margin: 0 auto;
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 1fr 1fr;
  }
}